<!-- main.hbs-->

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title> OSU Intl student insurance help </title>
    <link rel="stylesheet" href="/css/style.css"/>
</head>
<body>
<div class="navbar">
    <a href="/doctor"> Find doctor</a>
    <a href="/pharmacy"> Find pharmacy</a>
    <a href="/hospital"> Find Hospital</a>     
    <a href="/faq"> FAQ </a>       
</div>
    {{{body}}}
</body>
</html>