<!-- pharmacy.hbs -->

<form id="search-pharmacy">
    <div>
    <label for="input-city"> Enter any city </label>
    <input type="text" id="input-city" name="input-city"> 
    <input type="submit">
    </div>
</form>

